<?xml version="1.0" ?>
<model>
    <name>hcaa_pylon_setup</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Oscar Bowen Schofield</name>
        <email>obs@mmmi.sdu.dk</email>
    </author>
    <description>a near-accurate model of the power line setup at SDU HCA centre</description>
</model>
